# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: windows-latest

steps:
- checkout: self
  persistCredentials: true  # Required to reuse Git credentials
  
- task: PowerShell@2
  displayName: 'Checking directory status'
  inputs:
    targetType: 'inline'
    script: |
      ls
      cd ".\Signing\"
      ls

- task: PowerShell@2
  displayName: 'Signing powershell files with C&P certificate'
  inputs:
    filePath: '.\Signing\Sign-CodeByCertificate.ps1'

- task: PowerShell@2
  displayName: 'Running a sample signed powershell'
  inputs:
    filePath: '.\TestScript.ps1'

- task: PowerShell@2
  displayName: 'GIT: Commit powershell signing changes'
  inputs:
    targetType: 'inline'
    script: |
      git fetch
      git branch
      git checkout main
      git config user.email 'noreply@cpgmbh.de'
      git config user.name 'C&P Atlas Azure DevOps Pipeline'
      git add *.ps1
      git add '**/*.ps1'
      git commit -m 'Added code signing to powershell files'
      git push