#
# Azure DevOps Pipeline
# https://learn.microsoft.com/en-us/azure/devops/pipelines/get-started/what-is-azure-pipelines?view=azure-devops
# 
# Pipeline for automatic signing of all powershell based script files in the repository.
# If a powershell file is not signed or the signing is expired, it will be code signed by a C&P certificate and recommitted to the repository.
# 
# Author:
# someone@cpgmbh.de
#

# Don't trigger the pipeline automatically
trigger:
- none 

# This would run automatically, whenever a code change occurs in the "main" branch
#trigger:
#- main

pool:
  vmImage: windows-latest

steps:
- checkout: self
  persistCredentials: true  # Required to reuse Git credentials
  
- task: PowerShell@2
  displayName: 'Checking directory status'
  inputs:
    targetType: 'inline'
    script: |
      ls
      cd ".\Signing\"
      ls

- task: PowerShell@2
  displayName: 'Installing certificate from PFX file'
  inputs:
    filePath: '.\Signing\Install-Certificate.ps1'

- task: PowerShell@2
  displayName: 'Signing powershell files with C&P certificate'
  inputs:
    filePath: '.\Signing\Sign-CodeByCertificate.ps1'

- task: PowerShell@2
  displayName: 'Running a sample signed powershell'
  inputs:
    filePath: '.\TestScript.ps1'

- task: PowerShell@2
  displayName: 'GIT: Committing all powershell signing changes'
  inputs:
    targetType: 'inline'
    script: |
      git fetch
      git branch
      git checkout main
      git config user.email 'noreply@cpgmbh.de'
      git config user.name 'C&P Atlas Azure DevOps Pipeline'
      git add *.ps1
      git add '**/*.ps1'
      git commit -m 'Added code signing to powershell files'
      git push